CREATE OR REPLACE FUNCTION admin_delete_review(
  p_review_id UUID,
  p_admin_id UUID
) RETURNS void AS \$\$
DECLARE
  v_is_admin BOOLEAN;
BEGIN
  SELECT is_admin INTO v_is_admin FROM public.sns_profiles WHERE id = p_admin_id;
  IF v_is_admin IS NOT TRUE THEN
    RAISE EXCEPTION 'Not authorized';
  END IF;

  DELETE FROM public.sns_reviews WHERE id = p_review_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
